<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css">

  <title>Ask</title>
</head>

<body class="text-center">
  <div class="align-items-center">
    <br><br>
    <img src="ntulogo.png" alt="NTU Logo" style="width:400px;height:143px;">
    <form id="myForm">
      <input id="myName" name="question" value="" style="width:400px;">
      <input class="mt-5" id="postSubmit" type="submit" value="Ask!">
  </form>
  </div>

  <script type="text/javascript">
    const thisForm = document.getElementById('myForm');
    thisForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        const formData = new FormData(thisForm).entries()
        const response = await fetch('http://192.168.203.1/submit', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(Object.fromEntries(formData))
        });

        const result = await response.json();
        console.log(result)
    });
</script>
</body>

</html>
